<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- <typeAliases>
		针对单个别名定义 type：类型的路径 alias：别名
		<typeAlias type="cn.itcast.mybatis.po.User" alias="user"/>
		批量别名定义 指定包名，mybatis自动扫描包中的po类，自动定义别名，别名就是类名（首字母大写或小写都可以）
		<package name="com.resultmap.model" />
	</typeAliases> -->

	
	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings>
	
	<typeAliases>
		<!-- 批量别名定义 指定包名，mybatis自动扫描包中的po类，自动定义别名，别名就是类名（首字母大写或小写都可以） -->
		<package name="org.cuitytj.mapper" />
	</typeAliases>

</configuration>

